body {
    background-color: hotpink;
    color: aqua;
    -webkit-text-stroke: 1px rgba(0, 60, 139, 0.753);
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
}
h1{
    color: aqua;
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    text-align: center
}

div#meme-tank{
    text-align: center;
}

h3{
    color: aqua;
}

div.meme-container {
   
    text-align: center;
    margin-left: auto; 
    margin-right: auto;
    max-width: 50%;
}


img {  
    max-width: 50%;  
    height: auto; 
    margin: auto
} 


/* everything until ln 78 is dropdown */
.dropbtn {
    background-color: #ffffff;
    color: white;
    padding: 16px;
    font-size: 16px;
    border-style: inset;
    border-width: 2px;
    border-color: #662424;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}