body {
    background-color: gray;
}
h1{
    color: aqua;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* div.meme-container {
    height: 200px;
    width: 300px
} */

/* div {  
    width: auto;  
    text-align: center;  
    padding: 15px;  
    border: 3px solid red;  
    }   */
    img {  
    max-width: 100%;  
    height: auto;  
    } 

/* height: 200px;
width: 50%;
background-color: powderblue; */